We load trained Rrandom Forest model generated by [ai_segments_without_pca.ipynb](https://github.com/AlexeyAlexey/ai_random_forest_py/blob/main/ai_segments_without_pca.ipynb)

I use the same dataset that we use to train a model. I do it only to test that model is loaded

In [1]:
from sklearn.ensemble import RandomForestClassifier

import matplotlib.pyplot as plt

# statistical data visualization
import seaborn as sns

# Loading pandas
import pandas as pd

# Loading numpy
import numpy as np

# is used to load saved Random Forest
# https://joblib.readthedocs.io/en/latest/
import joblib

In [2]:
# load, no need to initialize the loaded_rf
loaded_clf = joblib.load("./random_forest.joblib")

In [3]:
target = "paying" # It is what we try to predict

# a file was generated for 'session_29d'
df = pd.read_csv("/vagrant/ai_random_forest_py/contacts/202402070946/segments.csv", low_memory=False) # returns DataFrame

df.head()

,created_date,id,segm_1,segm_2,segm_3,segm_4,segm_5,segm_6,segm_7,segm_8,...,segm_210,segm_211,segm_212,segm_213,segm_214,segm_215,segm_216,segm_217,segm_218,paying
0,2019-06-18,1,0,0,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2019-06-18,2,0,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2019-06-18,3,0,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2019-06-18,4,0,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2019-06-18,5,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
del df["created_date"]
del df["id"]

df.head()

,segm_1,segm_2,segm_3,segm_4,segm_5,segm_6,segm_7,segm_8,segm_9,segm_10,...,segm_210,segm_211,segm_212,segm_213,segm_214,segm_215,segm_216,segm_217,segm_218,paying
0,0,0,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
print('Paying', df[df['paying'] == 1].shape[0])
print('Not Paying', df[df['paying'] == 0].shape[0])

Paying 36
Not Paying 2060

In [6]:
# Create a list of the feature column's names


# print(df.shape[1] - 2)
features = df.columns[:(df.shape[1] - 1)]


# View features
print(f'Features: {features}')

df.head()

Features: Index(['segm_1', 'segm_2', 'segm_3', 'segm_4', 'segm_5', 'segm_6', 'segm_7',
       'segm_8', 'segm_9', 'segm_10',
       ...
       'segm_209', 'segm_210', 'segm_211', 'segm_212', 'segm_213', 'segm_214',
       'segm_215', 'segm_216', 'segm_217', 'segm_218'],
      dtype='object', length=218)

,segm_1,segm_2,segm_3,segm_4,segm_5,segm_6,segm_7,segm_8,segm_9,segm_10,...,segm_210,segm_211,segm_212,segm_213,segm_214,segm_215,segm_216,segm_217,segm_218,paying
0,0,0,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
x = df[features]
y = df['paying']

In [8]:
y_pred = loaded_clf.predict(x)

y_pred.astype(bool)

array([False, False, False, ...,  True,  True,  True])

In [9]:
from sklearn.metrics import recall_score

display(pd.crosstab(y.astype(bool), y_pred.astype(bool), rownames = ['Actual Paying'], colnames = ['Predicted Paying']))

display('Baseline Random Forest recall score', recall_score(y, y_pred))

Predicted Paying  False  True
Actual Paying
False              2057      3
True                  4     32

'Baseline Random Forest recall score'

0.8888888888888888

In [10]:
# from sklearn.metrics import r2_score

# # sklearn.metrics.r2_score(y_true, y_pred, *, sample_weight=None, multioutput='uniform_average', force_finite=True)
# print('R^2: ', r2_score(y, y_pred))